/*@media only screen and (max-width: 1040px) {*/
/*    .mobile-display{*/
/*       display: none;*/
/*    }*/
/*}*/
/*#topnav.topbar-light .navbar-custom .navbar-toggle span {*/
/*    background-color: #000000;*/
/*}*/

@media only screen and (max-width: 1040px) {
    .mobile-display{
       display: none;
    }
}
/* #topnav.topbar-light .navbar-custom .navbar-toggle span {
    background-color: #193E72;
} */

.logo {
    line-height: 70px;
    width: 240px;
    display: block;
    text-align: center;
    background: #fff !important;
}

.text-white span {
    color: #fff !important;
    background: #fff !important;
}

.left-side-menu-dark #sidebar-menu > ul > li > a.active {
    color: #f1f8fe !important;
    background-color: #212121 !important;
    border-right-color: #f1f8fe !important;
}
.left-side-menu-dark #sidebar-menu > ul > li > a {
    color: #fff !important;
}
.navbar-custom {
  background:#000068 !important;
}

.left-side-menu-dark {
  background: #000068 !important;
    color: #f1f8fe;
}

.bg-primary .card-header {
  background: #000068 !important;
}

.bg-account-pages {
  background: #266A56 !important;
}

.bg-info {
  background: #000068 !important;
}

.btn-primary {
  background: #266A56 !important;
  border:1px solid #266A56 !important;
}
.btn-info {
    background: #000068 !important;
    border:1px solid #000068 !important;
}
